/* 
--- 01 TYPOGRAPHY SYSTEM

- Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Font Weights:
Defaul: 400
Medium: 500
Semi-Bold: 600
Bold: 700


- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

-Letter-spacing
-0.5px
0.75px


- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  max-width: 118.9rem;
  padding: 0 2.4rem;
  margin: 0 auto; }
  @media only screen and (min-width: 40.62em) {
    .container {
      padding: 0 3.95rem; } }
  .container--alt {
    padding: 0; }

.grid {
  display: grid; }

.flex {
  display: flex; }

.flex-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem; }

body {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  font-family: "Red Hat Display", sans-serif;
  color: #86869c;
  text-align: center; }
  @media only screen and (min-width: 64.12em) {
    body {
      font-size: 1.8rem;
      line-height: 1.44; } }

.heading-primary,
.heading-secondary,
.overline {
  font-weight: 900;
  color: #28283e; }

.heading-primary {
  font-size: 4rem;
  margin-bottom: 2.4rem;
  line-height: 1.1; }
  @media only screen and (min-width: 23.43em) {
    .heading-primary {
      padding: 0 1.8rem; } }
  @media only screen and (min-width: 35.1em) {
    .heading-primary {
      font-size: 4.8rem;
      line-height: 1;
      padding: 0 3.8rem; } }
  @media only screen and (min-width: 64.12em) {
    .heading-primary {
      font-size: 6.4rem;
      padding: 0 4.4rem;
      margin-bottom: 3.4rem; } }

.heading-secondary {
  font-size: 3.2rem;
  line-height: 1.125;
  margin-bottom: 3.2rem; }
  @media only screen and (min-width: 35.1em) {
    .heading-secondary {
      font-size: 4rem;
      line-height: 1.1;
      padding: 0 4rem; } }
  @media only screen and (min-width: 64.12em) {
    .heading-secondary {
      font-size: 4rem;
      line-height: 1.1;
      padding: 0 5rem; } }
  .heading-secondary--white {
    color: #fafafa;
    margin-bottom: 2.4rem; }
    @media only screen and (min-width: 64.12em) {
      .heading-secondary--white {
        padding: 0;
        text-align: left;
        margin-bottom: 0; } }

.overline {
  display: block;
  color: #4d96a8;
  font-size: 1.6rem;
  line-height: 1.625;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 2.4rem; }

.light-green {
  color: #90e4f9; }

.color-white {
  color: #fafafa;
  margin-bottom: 3.2rem; }
  @media only screen and (min-width: 64.12em) {
    .color-white {
      margin-bottom: 0;
      text-align: left;
      max-width: 35rem;
      justify-self: end;
      margin-right: 1.6rem; } }

.light-purple {
  color: #d9b8ff; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 900;
  color: #fafafa;
  padding: 1.749rem 4.11rem;
  border-radius: 2.9rem;
  cursor: pointer;
  transition: all 0.3s; }

.btn--dl:link, .btn--dl:visited {
  background-color: #4d96a8;
  margin: 0 1.6rem 1.6rem; }
  @media only screen and (min-width: 27.37em) {
    .btn--dl:link, .btn--dl:visited {
      margin: 0 1.6rem 0 0; } }

.btn--dl:hover, .btn--dl:active {
  background-color: #72c1d5; }

.btn--ask:link, .btn--ask:visited {
  background-color: #845eb0; }
  @media only screen and (min-width: 64.12em) {
    .btn--ask:link, .btn--ask:visited {
      justify-self: end; } }

.btn--ask:hover, .btn--ask:active {
  background-color: #b28cde; }

.header {
  height: 7.4rem;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  @media only screen and (min-width: 64.12em) {
    .header {
      height: 10.8rem; } }

.section-hero {
  position: relative;
  padding: 5.4rem 0 6.4rem;
  overflow-x: hidden; }
  @media only screen and (min-width: 35.1em) {
    .section-hero {
      padding: 6.4rem 0 7.2rem; } }
  @media only screen and (min-width: 64.12em) {
    .section-hero {
      padding: 6.1rem 0 11rem; } }

.hero_img-left, .hero_img-right {
  display: none; }
  @media only screen and (min-width: 64.12em) {
    .hero_img-left, .hero_img-right {
      display: block;
      position: absolute; } }

@media only screen and (min-width: 64.12em) {
  .hero_img-left {
    top: 6.1rem;
    right: 74.79vw; } }

@media only screen and (min-width: 64.12em) {
  .hero_img-right {
    bottom: 11rem;
    left: 74.79vw; } }

.hero_img-center {
  width: 110%; }
  @media only screen and (min-width: 64.12em) {
    .hero_img-center {
      display: none; } }

.hero_text {
  max-width: 45.7rem;
  padding: 0 2.4rem; }
  @media only screen and (min-width: 64.12em) {
    .hero_text {
      max-width: 54rem;
      padding: 0;
      padding-top: 4.7rem; } }

.hero_description {
  margin-bottom: 3.2rem; }

.section-number01,
.section-number02 {
  padding: 9.9rem 0 7.9rem; }

.section-number02 {
  padding-bottom: 0; }

.number {
  font-weight: 900;
  display: inline-block;
  position: relative;
  z-index: 3;
  font-size: 1.6rem; }
  .number::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    border: 1px solid rgba(134, 134, 156, 0.25);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5.6rem;
    padding-bottom: 5.4rem;
    background-color: #fafafa;
    z-index: -1; }
  .number::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: -9.9rem;
    transform: translateX(-50%);
    width: 1px;
    background-color: rgba(134, 134, 156, 0.25);
    height: 8.4rem; }

.section-gallery {
  padding-bottom: 6.4rem; }

.gallery {
  grid-template-columns: 1fr 1fr;
  column-gap: 2.5rem;
  row-gap: 2.4rem;
  padding-bottom: 6.4rem; }
  @media only screen and (min-width: 40.62em) {
    .gallery {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (min-width: 64.12em) {
    .gallery {
      gap: 3rem; } }
  .gallery_img {
    width: 100%;
    border-radius: 0.8rem; }
  .gallery_text {
    max-width: 57.3rem; }
    @media only screen and (min-width: 64.12em) {
      .gallery_text {
        max-width: 54rem; } }
  @media only screen and (min-width: 64.12em) {
    .gallery_description {
      padding: 0 1rem; } }

.footer {
  padding: 8.6rem 0 7.2rem;
  background-image: linear-gradient(to right bottom, rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(../assets/mobile/image-footer.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  margin-top: -1.4rem; }
  @media only screen and (min-width: 40.62em) {
    .footer {
      background-image: linear-gradient(to right bottom, rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(../assets/tablet/image-footer.jpg); } }
  @media only screen and (min-width: 64.12em) {
    .footer {
      background-image: linear-gradient(to right bottom, rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(../assets/desktop/image-footer.jpg);
      padding: 11.6rem 0 10.4rem; } }
  .footer_text {
    max-width: 57.3rem; }
    @media only screen and (min-width: 64.12em) {
      .footer_text {
        max-width: 118.9rem;
        display: grid;
        grid-template-columns: 3.12fr 4fr 1.91fr;
        align-items: center;
        gap: 5.91rem; } }
